:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: dark light;
}

body {
  margin: 0;
  padding: 0;
  width: 250px;
  min-height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1a1a1a;
  color: #ffffff;
}

#root {
  width: 100%;
}